@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,900;1,300&display=swap');

*{
    font-family: 'Lato',
    sans-serif;
}
body{
    margin: 0 auto;
    width: max-content;
}

h1{
    font-weight: 700;
}
span{
    font-size: inherit;
    font-style: italic;
}

img{
    width: 50px;
    border: 0.5px solid gray;
}

button{
    cursor: pointer;
    background-color: orange;
    padding: 3px 6px;
    border: 1px solid rgb(192, 125, 1);
    border-radius: 5px;
}
button:hover{
    background-color: rgb(192, 125, 1);
}